.cardsGrid {
    display:grid;
    gap:70px;
    grid-template-columns:repeat(auto-fill, minmax(250px,1fr));
    padding:20px;
    height:auto;
}

.pokemonCard {
    height: 300px;
    width: 100%;
    background-color:lightgreen;
}

.pokemonCard > img {
    width:100%;
    height:100%;
}